<div class="py-4 animate-fade-in" style={{ animationDelay: '0.2s' }}>
    <h3 class="text-xl font-bold mb-4 pb-1 border-b-2 border-gray-200 dark:border-gray-700">
      Bio
    </h3>
    
    <div class="flex flex-row mb-2">
      <span class="font-bold mr-4 w-20 flex-shrink-0">2010</span>
      <span> Istanbul University Computer Engineering
      </span>
    </div>
    
    <div class="flex flex-row mb-2">
      <span class="font-bold mr-4 w-20 flex-shrink-0">2010</span>
      <span>Worked at Innova</span>
    </div>
    
    <div class="flex flex-row mb-2">
      <span class="font-bold mr-4 w-20 flex-shrink-0">2012</span>
      <span>Worked at YKB</span>
    </div>
    <div class="flex flex-row mb-2">
        <span class="font-bold mr-4 w-20 flex-shrink-0">2013</span>
        <span> Worked at QNB</span>
      </div>
      <div class="flex flex-row mb-2">
        <span class="font-bold mr-4 w-20 flex-shrink-0">2023 - </span>
        <span>Solo Developer Journey</span>
      </div>
  </div>