---
---

<section class="relative mb-6 h-80 flex justify-center items-center">
  <div class="absolute w-full h-full overflow-hidden">
    <img
      class="absolute inset-0 min-w-full min-h-full object-fill opacity-30"
      src="/masthead-poster.png">
    </img>
  </div>
</section>
